


/*Contacto*/

.contacto-bg{
	background-image: url(../img/contacto.jpg);
	height: 40rem;
	background-size: cover;
	background-repeat: no-repeat;
}


.formulario{
	background-color: white;
	margin: -5rem auto 0 auto;
	width: 95%;
	padding: 5rem;
    border: 1px solid rgb(204, 204, 204);
}

@media(max-width:768px){
	.formulario{
		padding: 2rem;
	}
}

.campo{
	display: flex;
	margin-bottom: 2rem;
	justify-content: center;
}

.campo__label{
	flex: 0 0 9rem;                     /*0 crecimiento 0 de achique y 9 de espacio para el label*/
	text-align: right;
	padding-right: 2rem;               /*tambien se puede agregar un GAP en .campo*/

}

.campo__field{
	flex: 1;							/*Toma todo el espacio que no tomo el label*/							
	border: 1px solid var(--claro);
	width: 100%;
}

.campo__field--textarea{
	height: 15rem;

}


.enviar{
	width: 100%;
	background-color: var(--background-color-boton) ;
	font-family: var(--fuenteHeading);
	color: var(--blanco);
	text-align: center;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	
}




/* Button styling */


.contacto-gb-botones{
    display: flex;
    gap: 10px;
}

.contacto-gb-botones button{
    background-color: var(--background-color-boton);
}